/* navebar de cima */
h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  font-size: 25px;
  color: Black;
}

li, a , button{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 25px;
  color: Black;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  background-color: rgb(240,240,240);
  
}

.logo{
  cursor: pointer;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color:red;
  transition: all 0.3s ease 0s;
}

button{
  padding: 9px 25px;
  background-color: rgb(225,225,225);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgb(240,240,240);
}

/*botoes cao e gato*/

.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "montserrat";
  cursor: pointer;
  transition:0.8s;

}

.btn1{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "montserrat";
  cursor: pointer;
  transition:0.8s;
}

.btn2{
  color: black;
}

.btn1:hover, .btn2:hover{
  color: #fff;
}



/* navebar de baixo da redes sociais*/

.redesbaixoAdoptAnimal{
  background-color: white;
  
  position: fixed;
  bottom: 0;
  width: 80%;
  display: flex;
  padding: 0px 10%;
  justify-content: space-between;
  
}
.redesidonAdoptAnimal{
  font-size: 20px;
  cursor: pointer;
}




/* parte das imagens com containers de informação no meio*/
bodydAdoptAnimal{
	display:flex;
	justify-content: center;
	background: white;
}

.containerAdoptAnimal{

	position: relative;
	width:1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 0%;
}

.containerAdoptAnimal .card{
	width:300px;
	position: relative;
	height: 400px;
	background: white;
	margin:100px 100px;
	display:flex;
	flex-direction: column;
	box-shadow: white;
	transition: all 0.3s ease 0s;
	margin-top: 2%;
  border-radius: 10px;
}
.containerAdoptAnimal .card .imgBx{
	position: relative;
	width:260px;
	height: 260px;
	top: 20px;
	left:20px;
	
}

.containerAdoptAnimal .card .imgBx img
{
	max-width: 100%;
	border-radius: 10px;
}


h2{
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

.cao{
  clip-path: circle();
  
}

.gato{
  clip-path: circle();
}







